<%
=begin%>
 
 <p id="notice"><%= notice %></p>

<h1>Traslados</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Direccion origen</th>
      <th>Direccion destino</th>
      <th>Fecha</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @traslados.each do |traslado| %>
      <tr>
        <td><%= traslado.user %></td>
        <td><%= traslado.direccion_origen %></td>
        <td><%= traslado.direccion_destino %></td>
        <td><%= traslado.fecha %></td>
        <td><%= traslado.price %></td>
        <td><%= link_to 'Show', traslado %></td>
        <td><%= link_to 'Edit', edit_traslado_path(traslado) %></td>
        <td><%= link_to 'Destroy', traslado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Traslado', new_traslado_path %> 
 
<%
=end%>
